div {
    background-color: rgb(196, 247, 56);
    padding: 40px 60px;
    max-width: 500px;
    margin: 0 auto;
    p {
        color: gray;
        font-weight: bold;
        font-family: 'Arial', sans-serif;
        text-transform: uppercase;
        text-align: center;
    }
}